.author {
    background-image: url(../../img/owner_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    color: white;
    .author-photo {
        text-align: center;
        padding-top: 50px;
        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }      
    }
    .quote {
        padding-top: 60px;
        padding-bottom: 50px;
        font-size: 28px;
        line-height: 35px;
        color: #efefef;
        letter-spacing: 3px;
        font-family: "Montserrat";
        font-weight: 400;
        font-style: italic;
        text-align: center;
        .sign {
            font-size: 45px;
        }
    }
    .author-name {
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 18px;
        color: #e3e3e3;
        font-family: "Montserrat";
        font-weight: 700;
    }
    .owner {
        font-size: 14px;
        line-height: 24px;
        color: #efefef;
        font-family: "Crimson Text";
        letter-spacing: 3px;
        font-weight: 400;
        padding-bottom: 40px;
        padding-top: 10px;
    }
}