.footer {
    background-image: url(../../img/footer_bg.jpg);
    background-size: cover;
    background-position:top center;
    background-repeat: no-repeat;
    cursor: pointer;

    .logo {
        padding-top: 30px;
        padding-bottom: 20px;
        align-items: center;
        display: flex;
        font-size: 18px;
        letter-spacing: 2px;
        color:#e3e3e3;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        .logo-icon i {
            font-size: 40px;
            padding-right: 20px;
        }
    }
    .footer-info {
        letter-spacing: 1px;
        color: #e3e3e3;
        font-size: 15px;
        line-height: 18px;
        font-family: "Montserrat";
        font-weight: 400;
        .footer-text {
            font-size: 16px;
            line-height: 20px;
            color: #949494;
            font-family: "Crimson Text";
            padding-bottom: 25px;
        }
        .cafee-name {
            text-transform: uppercase;
            line-height: 18px;
            padding-bottom: 20px;
        }
        .adress {
            font-size: 16px;
            line-height: 20px;
            color: #949494;
            font-family: "Crimson Text";
            padding-bottom: 25px;
        }
        .email {
            text-transform: uppercase;
        }
        .phone {
            padding-top: 5px;
            text-transform: uppercase;
            padding-bottom: 25px;
        }
    }
    .footer-form {
        .input {
            cursor: pointer;
            width: 100%;
            padding: 12px;
            background-color: rgba($color: white, $alpha: 0.2);      
            border: none;
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 20px;
            color: white;
            font-family: "Crimson Text";
            font-weight: 400;
            font-style: italic;
        }

        ::placeholder {
            color: white;
        }
        .phones {
            padding-top: 25px;
            padding-bottom: 25px;
        }
        .message {
            input {
               padding-bottom: 50px; 
            } 
        }
        .footer-button {
            padding-top: 25px;
            padding-bottom: 25px;
            font-size: 13px;
            letter-spacing: 1px;
            color:#3e3d3d;
            font-family: "Montserrat";
            font-weight: 400;
            .button {
                background-color: #3e3d3d;
                width: 134px;
                height: 39px;
                color:  white;
                border: 2px solid #3e3d3d;
                &:hover {
                    border: none;
                    background-color: rgb(15, 51, 9);
                }
            }
        }
        .input-field {
            position: relative;
        }
        .error {
            letter-spacing: 0;
            font-size: 10px;
            position: absolute;
        }
        @media screen and (max-width: 576px) {
            .input-name {
                padding-bottom: 20px;
            }
            .input-phone {
                padding-bottom: 20px;
            }
            .phones {
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
    }
    .menu-social-links {
        color: #3e3d3d;
        padding-left: 15px;
        padding-right: 55px;
        padding-bottom: 30px;
        @media screen and (max-width: 992px) {
            padding-right: 15px;
            justify-content: flex-start;
        }
        .social-link {
            color: grey;
        }
        .social-link:hover {
            color: white;
        }
    }
    .footer-line {
        width: 100%;
        border-top: 0.5px solid silver;
        padding-top: 15px;
        padding-bottom: 20px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        letter-spacing: 2px;
        font-weight: 200;
    }
    input {
        border-radius: 0;
    }
    .thank-message {
        display: none;
        .return-button {
            margin-top: 20px;
            margin-bottom: 20px;
            .button{
                font-size: 13px;
                letter-spacing: 1px;
                color:#3e3d3d;
                font-family: "Montserrat";
                font-weight: 400;
                background-color: #3e3d3d;
                width: 134px;
                height: 39px;
                color:  white;
                border: 2px solid #3e3d3d;
                &:hover {
                    border: none;
                    background-color: rgb(15, 51, 9);
                }
            }  
        }
    }
    .close-form {
        display: none;
    }
    .close-thank {
        display: block !important;
    }
}