@font-face {
  font-family: "Amsdam";
  src: url("fonts/AmsdamFF/Amsdam-Regular.ttf") format("ttf"),
       url("fonts/AmsdamFF/Amsdam-Regular.woff") format("woff");
 }
 html, body{ overflow-x: hidden; max-width: 100%}

.holder {
  position: relative;
  height: 15px;  
  .smallLine {
    position: absolute;
    height: 15px;
    width: 200%;
    transform: translate(-25%) scale(0.5)
  }
  .smallLine1 {
    background: linear-gradient(45deg, transparent, transparent 48%, black 48%, transparent 52%);
  }
  .smallLine2 {
    background: linear-gradient(-45deg, transparent, transparent 48%, black 48%, transparent 52%);
  }
  .smallLine {
    background-size: 30px 30px;
  }
}

.holder-white {
  position: relative;
  height: 15px;  
  .smallLine {
    position: absolute;
    height: 15px;
    width: 200%;
    transform: translate(-25%) scale(0.5)
  }
  .smallLine1 {
    background: linear-gradient(45deg, transparent, transparent 48%, white 48%, transparent 52%);
  }
  .smallLine2 {
    background: linear-gradient(-45deg, transparent, transparent 48%, white 48%, transparent 52%);
  }
  .smallLine {
    background-size: 30px 30px;
  }
}

.section-title {
  text-transform: uppercase;
  padding-top: 50px;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 22px;
  color: #3e3d3d;
  font-family: "Amsdam";
  position: relative;
}
.section-main-text {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 25px;
  color: #3e3d3d;
  font-family: "Crimson Text";
  text-align: justify;
  padding-bottom: 35px;
}

