.collapsed {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // margin: auto 0;
  width: 100%;
  margin-bottom: 0;
  padding-inline-start: 0;
  :hover {
    text-decoration: none;
  }
  li {
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    list-style: none;
    &:hover {
      color: silver;    
    }
  }
}

.burger-button {
  display: none;
  color: #ededed;
  font-size: 26px;
}

@media screen and (max-width: 991px) {
  .nav {
    position: relative;
  }
  .collapsed {
    display: none;

    margin: 0;
    align-items: center;
    
  }
  .burger-button{
    display: inline-block;
    position: absolute;
    top: -35px;
    right: 15px;
    cursor: pointer;
  }
  ul.collapsed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 0;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

    &.mobile {
      overflow: hidden;
      max-height: 300px;
      transition-duration: 0.3s;
      transition-timing-function: ease-in;
    }
    li {
      padding: 10px 0 0.5px;
      margin: 0px 0px;
      cursor: pointer;

    }
  }
}

.collapsed >.active {
border-bottom: 2px solid white;
}